$default-duration: 1.5s !default;

@keyframes symbols-pulse {
  0% {
    font-variation-settings: "wght" 100;
  }
  50% {
    font-variation-settings: "wght" 700;
  }
  100% {
    font-variation-settings: "wght" 100;
  }
}
@keyframes symbols-fill {
  0% {
    font-variation-settings: "FILL" 0;
  }
  100% {
    font-variation-settings: "FILL" 1;
  }
}
@keyframes symbols-empty {
  0% {
    font-variation-settings: "FILL" 1;
  }
  100% {
    font-variation-settings: "FILL" 0;
  }
}

.symbols-pulse i {
  animation: symbols-pulse $default-duration * 2 infinite;
}
.symbols-pulse-hover:hover i {
  animation: symbols-pulse $default-duration * 2 infinite;
}
.symbols-fill i {
  animation: symbols-fill $default-duration ease forwards;
}
.symbols-fill-hover:hover i {
  animation: symbols-fill $default-duration ease forwards;
}
.symbols-empty i {
  animation: symbols-fill $default-duration ease forwards;
}
.symbols-empty-hover:hover i {
  animation: symbols-empty $default-duration ease forwards;
}

.material-symbols-rounded,
.material-symbols-outlined,
.material-symbols-sharp {
  font-variation-settings: "FILL" var(--fill, 0), "wght" var(--weight, 400), "GRAD" var(--grad, 0), "OPSZ" var(--opsz, 24);
}

.dark {
  --grad: -25;
  background: black;
  color: rgba(255, 255, 255, 1);

  &[disabled],
  &.disabled {
    color: rgba(255, 255, 255, 0.3);
  }
}
